* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

body>img {

    height: 100vh;
    margin-left: 770px;
}

.logo>a>img {
    width: 140px;
    margin-left: 30px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0.5px;
    left: 1px;
}

.signupsy {

    height: 25px;
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 25px;
    font-weight: 600;
    font-size: 15.5px;

}

.signupsy>a {
    color: rgb(229, 9, 20);
    text-decoration: none;
}

.signupsy>a:hover {
    color: rgb(229, 9, 20);
    text-decoration: underline;
}

.continer {
    border: 1px solid;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.content {

    height: 450px;
    width: 373px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content1 {
    height: 450px;
    width: 375px;
    background-color: #f3f3f3;
    padding: 30px;

}

.box1>h1 {
    font-size: 26px;
    font-weight: lighter;
    font-weight: 500;
    color: #333;
}

.box2 {
    font-size: 13px;
    color: #333;
    margin: 15px 0px;
}

.box3 {
    height: 30px;
    display: flex;
    align-items: center;
    color: #333;
    font-size: 13px;
}

.box3>input {
    margin: 0px 7px 0px 30px;
}

.box4 {
    height: 30px;
    /* justify-content: space-evenly; */
    display: flex;
    align-items: center;
    color: #333;
    font-size: 13px;
}

.box4>input {
    margin: 0px 7px 0px 30px;
}

.box5 {
    margin: 5px;
    font-size: 12px;
    color: #333;
    margin: 10px;
}

.box6>input {
    width: 99%;
    height: 40px;
    padding: 0px 0px 0px 13px;
    color: #333;
}

.box7>button {
    width: 99%;
    height: 40px;
    margin: 30px 0px 0px 0px;
    background-color: #0080ff;
    border-color: #0080ff;
    font-size: 17px;
    color: #f3f3f3;
    font-weight: 400;
    border-radius: 2px;
    cursor: pointer;
}

.box7>button:hover {
    background-image: linear-gradient(180deg, #0080ff, #0277ec);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .55);
}

.box8 {
    margin: 20px 0px;
}

.box8>a {
    font-size: 13px;
    color: #0080ff;
    text-decoration: none;
}

.box8>a:hover {
    text-decoration: underline;
}

.extrainfo {
    height: 20px;
    width: 379px;
    /* display: flex; */
    /* justify-content: space-evenly; */
    align-items: center;
    margin-left: 10px;
    position: absolute;
    bottom: 40px;
    color: darkgrey;
    font-size: 12px;
}

.extrainfo>a {
    color: darkgrey;
    font-size: 12px;
}